$login-border: #8daac5;

.login {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  margin-left: 0;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/heatmap_bg_test.svg);
  background-size: cover;
  color: #d8d9da;

  & a {
    color: #d8d9da !important;
  }

  & .btn-primary {
    @include buttonBackground(#ff6600, #bc3e06);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $input-bg inset !important;
  -webkit-text-fill-color: $input-color !important;
  box-shadow: 0 0 0px 1000px $input-bg inset;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: $space-md;
}

.login-form {
  margin-bottom: $space-md;
  width: 100%;
}

.login-form-input {
  border: 1px solid $login-border;
  border-radius: 4px;
  opacity: 0.6;
  background: $black;
  color: #fbfbfb;

  &:focus {
    border: 1px solid $login-border;
  }
}

.login-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: $space-sm;

  &--right {
    justify-content: flex-end;

    & .btn {
      margin-left: $space-md;
    }
  }
  & .btn-inverse {
    color: #e3e3e3;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #2a2a2c;
    background-image: linear-gradient(to bottom, #262628, #303032);
    background-repeat: repeat-x;
    border-color: #262628;
    box-shadow: -1px -1px 0 0 rgba(255, 255, 255, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  }
}

.login-button-forgot-password {
  padding-top: $space-md;
}

.login-text {
  font-size: $font-size-sm;
}

.login-content {
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: 1;
  min-height: 320px;
}

.login-branding {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-top: $space-xl;

  .logo-icon {
    width: 70px;
    margin-bottom: 15px;
  }
}

.app-grafana {
  .logo-wordmark {
    background: url('../img/grafana_icon.svg') top center no-repeat;
    width: 100%;
    height: 70px;
  }
}

.app-enterprise {
  .logo-wordmark {
    background: url('../img/grafana_icon.svg') top center no-repeat;
    width: 100%;
    height: 70px;
  }
}

.login-outer-box {
  display: flex;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
}

.login-inner-box {
  text-align: center;
  padding: $space-xl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 415px;
  width: 100%;
  transform: tranlate(0px, 0px);
  transition: 0.25s ease;

  &.hidden {
    display: none;
  }

  &-enter {
    transform: translate(0px, 320px);
    display: flex;
  }

  &-enter-active {
    transform: translate(0px, 0px);
  }
}

.login-change-password-info {
  padding-bottom: $space-lg;

  & h5 {
    text-align: left;
  }
}
.btn-signup {
  color: $white;
  border: 1px solid $login-border;
  background-color: $btn-semi-transparent;
}

.login-submit-button-row {
  text-align: center;
  margin-top: 30px;
  button {
    padding: 14px 23px;
    font-size: 16px;
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
    border: 1px solid lighten($btn-inverse-bg, 10%);
  }
}

.login-oauth {
  width: 100%;
}

.login-divider {
  float: left;
  width: 100%;
  margin: 0 25% $space-md 25%;
  display: flex;
  justify-content: space-between;

  .login-divider-line {
    width: 100px;
    height: 10px;
    border-bottom: 1px solid $login-border;

    .login-divider-text {
      background-color: $panel-bg;
      color: $gray-2;
      padding: 0 10px;
    }
  }
}

.login-signup-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: $space-md;
}

.login-signup-title {
  justify-self: flex-start;
  flex: 1;
  text-align: left;
}

.login-btn {
  width: 100%;
  margin: 0 0 $space-md;
}

.signup-page-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/background_tease.jpg);
  opacity: 0.3;
  z-index: -1;
}

.invite-box {
  text-align: center;
  border: 1px solid $tight-form-func-bg;
  background-color: $panel-bg;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .tight-form {
    text-align: left;
  }

  h3 {
    margin-top: 30px;
  }

  .modal-close {
    float: right;
    font-size: 140%;
    padding: 10px;
  }

  .modal-tagline {
    font-size: 16px;
  }
}

@include media-breakpoint-up(sm) {
  .login-branding {
    padding: $space-md;

    .logo-icon {
      width: 80px;
    }
  }
}

@include media-breakpoint-up(md) {
  .login-content {
    flex-direction: row;
    flex: 1 0 100%;
  }

  .login-divider {
    .login-divider-line {
      width: 110px;
    }
  }

  .login-branding {
    width: 45%;
    padding: $space-xl;
    flex-grow: 1;
    border-right: 1px solid $login-border;

    .logo-icon {
      width: 130px;
    }
  }

  .login-button-group {
    flex-direction: row;
  }

  .login-inner-box {
    width: 55%;
    padding: $space-md 56px;
  }

  .login-button-forgot-password {
    padding-top: 0;
    padding-left: 10px;
  }

  .login-form-input {
    min-width: 300px;
  }
}

.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  flex-direction: column;
  justify-content: stretch;
  justify-items: stretch;
  height: 100%;

  .login-bg__row {
    display: flex;
    flex-grow: 1;
    height: 10px;
    justify-content: stretch;
  }

  .login-bg__item {
    width: 4%;
    height: 100%;
    flex-grow: 1;
    // background: hotpink;
    // border:1px solid #0F1926;
    transition: 1s ease-in-out;
    z-index: 1;
    transform-style: preserve-3d;

    &.login-bg-flip {
      transform: rotateY(180deg);
    }

    &:before,
    &:after {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      content: '';
      display: block;
    }

    &:after {
      transform: rotateY(180deg);
      background-color: rgb(25, 50, 80);
    }
  }
}

.login-bg-fx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: -webkit-radial-gradient(
    center center,
    ellipse farthest-corner,
    transparent 0%,
    transparent 10%,
    rgba(18, 22, 29, 1) 100%
  );
  z-index: 2;
}
