<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      // https://github.com/GoogleChromeLabs/tti-polyfill
      !(function() {
        if ('PerformanceLongTaskTiming' in window) {
          var g = (window.__tti = { e: [] });
          g.o = new PerformanceObserver(function(l) {
            g.e = g.e.concat(l.getEntries());
          });
          g.o.observe({ entryTypes: ['longtask'] });
        }
      })();

    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#000" />

    <title>Nunet stat</title>

    <base href="[[.AppSubUrl]]/" />

    <link
      rel="preload"
      href="public/fonts/roboto/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2"
      as="font"
      crossorigin
    />
    <link rel="icon" type="image/png" href="public/img/fav32.png" />
    <link rel="mask-icon" href="public/img/grafana_icon.svg" color="#F05A28" />
    <link rel="apple-touch-icon" sizes="180x180" href="public/img/apple-touch-icon.png" />

    <link rel="stylesheet" href="public/build/grafana.[[ .Theme ]].<%= webpack.hash %>.css" />

    <script>
      performance.mark('css done blocking');
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="public/img/browserconfig.xml" />
  </head>

  <body class="theme-[[ .Theme ]] [[.AppNameBodyClass]]">
    <style>
      .preloader {
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .preloader__enter {
        opacity: 0;
        animation-name: preloader-fade-in;
        animation-iteration-count: 1;
        animation-duration: 0.9s;
        animation-delay: 1.35s;
        animation-fill-mode: forwards;
      }

      .preloader__bounce {
        text-align: center;
        animation-name: preloader-bounce;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
      }

      .preloader__logo {
        display: inline-block;
        animation-name: preloader-squash;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' version='1.1' id='svg2' xml:space='preserve' width='459.98456' height='130.2865' viewBox='0 0 459.98456 130.2865' sodipodi:docname='Nunet text transparent background.svg' inkscape:version='0.92.3 (2405546, 2018-03-11)'%3E%3Cmetadata id='metadata8'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs6'%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath20'%3E%3Cpath d='M 0,283.46 H 566.93 V 0 H 0 Z' id='path18' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath28'%3E%3Cpath d='M 143.216,153.739 H 161.13 V 135.827 H 143.216 Z' id='path26' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath140'%3E%3Cpath d='m 160.407,141.259 31.99,-22.157 c 0.029,1.923 0.74,3.679 1.902,5.041 v 0 l -33.531,18.133 c -0.102,-0.348 -0.22,-0.689 -0.361,-1.017' id='path138' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath148'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path146' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(27.401768,-27.401768,-27.401768,-27.401768,164.27344,145.78027)' spreadMethod='pad' id='linearGradient160'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop150' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop152' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop154' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop156' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop158' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask162'%3E%3Cg id='g172'%3E%3Cg clip-path='url(%23clipPath148)' id='g170'%3E%3Cg id='g168'%3E%3Cg id='g166'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient160);stroke:none' id='path164' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(27.401768,-27.401768,-27.401768,-27.401768,164.27344,145.78027)' spreadMethod='pad' id='linearGradient188'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop178' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop180' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop182' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop184' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop186' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath198'%3E%3Cpath d='m 157.202,137.372 15.167,-26.38 0.083,0.216 c 0.676,1.754 2.752,3.431 4.611,3.723 v 0 l 2.239,0.351 -20.969,23.012 c -0.352,-0.336 -0.728,-0.646 -1.131,-0.922' id='path196' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath206'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path204' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(22.838377,-21.297131,-21.297131,-22.838377,154.64355,134.62793)' spreadMethod='pad' id='linearGradient218'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop208' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop210' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop212' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop214' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop216' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask220'%3E%3Cg id='g230'%3E%3Cg clip-path='url(%23clipPath206)' id='g228'%3E%3Cg id='g226'%3E%3Cg id='g224'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient218);stroke:none' id='path222' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(22.838377,-21.297131,-21.297131,-22.838377,154.64355,134.62793)' spreadMethod='pad' id='linearGradient246'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop236' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop238' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop240' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop242' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop244' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath256'%3E%3Cpath d='m 152.172,135.827 c -0.351,0 -0.697,0.025 -1.039,0.065 v 0 l -1.035,-5.909 c 0.69,0.209 1.42,0.324 2.176,0.324 v 0 c 0.856,0 1.676,-0.15 2.444,-0.414 v 0 l -1.163,6.051 c -0.451,-0.07 -0.91,-0.117 -1.383,-0.117' id='path254' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath264'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path262' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-3e-7,-6.0507812,-6.0507812,3e-7,152.40771,135.94434)' spreadMethod='pad' id='linearGradient276'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop266' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop268' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop270' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop272' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop274' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask278'%3E%3Cg id='g288'%3E%3Cg clip-path='url(%23clipPath264)' id='g286'%3E%3Cg id='g284'%3E%3Cg id='g282'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient276);stroke:none' id='path280' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-3e-7,-6.0507812,-6.0507812,3e-7,152.40771,135.94434)' spreadMethod='pad' id='linearGradient304'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop294' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop296' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop298' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop300' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop302' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath314'%3E%3Cpath d='m 133.464,123.307 c 2.199,-0.085 4.109,-1.437 4.97,-3.382 v 0 l 9.357,17.052 c -0.451,0.252 -0.878,0.541 -1.275,0.866 v 0 z' id='path312' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath322'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path320' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-8e-7,-17.917969,-17.917969,8e-7,140.62695,137.84277)' spreadMethod='pad' id='linearGradient334'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop324' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop326' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop328' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop330' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop332' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask336'%3E%3Cg id='g346'%3E%3Cg clip-path='url(%23clipPath322)' id='g344'%3E%3Cg id='g342'%3E%3Cg id='g340'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient334);stroke:none' id='path338' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-8e-7,-17.917969,-17.917969,8e-7,140.62695,137.84277)' spreadMethod='pad' id='linearGradient362'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop352' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop354' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop356' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop358' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop360' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath372'%3E%3Cpath d='m 123.152,135.188 c 0.762,-0.896 1.698,-4.999 1.85,-6.226 v 0 l 19.318,11.515 c -0.235,0.431 -0.431,0.886 -0.596,1.357 v 0 z' id='path370' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath380'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path378' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-20.961887,-6.010725,-6.010725,20.961887,144.91016,138.42187)' spreadMethod='pad' id='linearGradient392'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop382' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop384' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop386' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop388' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop390' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask394'%3E%3Cg id='g404'%3E%3Cg clip-path='url(%23clipPath380)' id='g402'%3E%3Cg id='g400'%3E%3Cg id='g398'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient392);stroke:none' id='path396' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-20.961887,-6.010725,-6.010725,20.961887,144.91016,138.42187)' spreadMethod='pad' id='linearGradient420'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop410' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop412' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop414' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop416' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop418' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath430'%3E%3Cpath d='m 135.41,142.781 7.848,1.179 c -0.025,0.272 -0.042,0.547 -0.042,0.824 v 0 c 0,0.541 0.056,1.069 0.149,1.584 v 0 l -7.219,1.544 c 0.999,-1.672 0.694,-3.806 -0.736,-5.131' id='path428' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath438'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path436' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-7.9550781,-7e-7,-7e-7,7.9550781,143.36572,145.34668)' spreadMethod='pad' id='linearGradient450'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop440' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop442' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop444' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop446' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop448' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask452'%3E%3Cg id='g462'%3E%3Cg clip-path='url(%23clipPath438)' id='g460'%3E%3Cg id='g458'%3E%3Cg id='g456'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient450);stroke:none' id='path454' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-7.9550781,-7e-7,-7e-7,7.9550781,143.36572,145.34668)' spreadMethod='pad' id='linearGradient478'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop468' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop470' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop472' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop474' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop476' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath488'%3E%3Cpath d='m 135.024,160.541 c 1.516,-3.388 -0.263,-5.851 -3.959,-5.472 v 0 l -1.553,0.161 14.745,-6.262 c 0.35,0.662 0.784,1.267 1.283,1.817 v 0 l -11.391,11.714 z' id='path486' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath496'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path494' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-15.028002,6.690896,6.690896,15.028002,146.27441,152.43457)' spreadMethod='pad' id='linearGradient508'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop498' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop500' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop502' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop504' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop506' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask510'%3E%3Cg id='g520'%3E%3Cg clip-path='url(%23clipPath496)' id='g518'%3E%3Cg id='g516'%3E%3Cg id='g514'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient508);stroke:none' id='path512' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-15.028002,6.690896,6.690896,15.028002,146.27441,152.43457)' spreadMethod='pad' id='linearGradient536'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop526' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop528' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop530' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop532' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop534' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath546'%3E%3Cpath d='m 145.9,161.158 c -0.195,0 -0.385,0.015 -0.575,0.03 v 0 l 3.607,-8.064 c 0.63,0.246 1.293,0.42 1.983,0.516 v 0 l -1.027,8.66 c -1.161,-0.719 -2.526,-1.142 -3.988,-1.142' id='path544' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath554'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path552' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1.283002,9.129034,9.129034,-1.283002,147.54443,153.31934)' spreadMethod='pad' id='linearGradient566'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop556' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop558' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop560' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop562' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop564' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask568'%3E%3Cg id='g578'%3E%3Cg clip-path='url(%23clipPath554)' id='g576'%3E%3Cg id='g574'%3E%3Cg id='g572'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient566);stroke:none' id='path570' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1.283002,9.129034,9.129034,-1.283002,147.54443,153.31934)' spreadMethod='pad' id='linearGradient594'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop584' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop586' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop588' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop590' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop592' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath604'%3E%3Cpath d='m 153.067,153.694 c 0.42,-0.042 0.828,-0.122 1.231,-0.219 v 0 l 5.339,20.733 -0.994,-0.327 c -1.068,-0.349 -2.629,-0.021 -3.465,0.729 v 0 l -0.393,0.353 z' id='path602' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath612'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path610' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(12.239649,16.242563,16.242563,-12.239649,148.94824,156.79785)' spreadMethod='pad' id='linearGradient624'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop614' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop616' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop618' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop620' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop622' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask626'%3E%3Cg id='g636'%3E%3Cg clip-path='url(%23clipPath612)' id='g634'%3E%3Cg id='g632'%3E%3Cg id='g630'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient624);stroke:none' id='path628' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(12.239649,16.242563,16.242563,-12.239649,148.94824,156.79785)' spreadMethod='pad' id='linearGradient652'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop642' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop644' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop646' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop648' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop650' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath662'%3E%3Cpath d='m 157.068,152.278 c 0.861,-0.563 1.614,-1.273 2.236,-2.091 v 0 l 8.735,4.6 c -3.206,0.162 -5.847,2.445 -6.542,5.479 v 0 z' id='path660' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath670'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path668' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(8.8625526,5.7554092,5.7554092,-8.8625526,156.95459,152.45264)' spreadMethod='pad' id='linearGradient682'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop672' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop674' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop676' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop678' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop680' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask684'%3E%3Cg id='g694'%3E%3Cg clip-path='url(%23clipPath670)' id='g692'%3E%3Cg id='g690'%3E%3Cg id='g688'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient682);stroke:none' id='path686' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(8.8625526,5.7554092,5.7554092,-8.8625526,156.95459,152.45264)' spreadMethod='pad' id='linearGradient710'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop700' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop702' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop704' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop706' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop708' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath720'%3E%3Cpath d='m 160.664,147.618 c 0.116,-0.346 0.216,-0.699 0.289,-1.064 v 0 l 26.339,4.474 -0.463,0.384 c -0.864,0.72 -1.416,2.215 -1.225,3.323 v 0 l 0.18,1.05 c -4.321,-1.374 -18.301,-5.938 -25.12,-8.167' id='path718' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath728'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path726' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(26.626953,0,0,-26.626953,160.66455,151.16992)' spreadMethod='pad' id='linearGradient740'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop730' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop732' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop734' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop736' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop738' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask742'%3E%3Cg id='g752'%3E%3Cg clip-path='url(%23clipPath728)' id='g750'%3E%3Cg id='g748'%3E%3Cg id='g746'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient740);stroke:none' id='path744' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(26.626953,0,0,-26.626953,160.66455,151.16992)' spreadMethod='pad' id='linearGradient768'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop758' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop760' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop762' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop764' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop766' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath778'%3E%3Cpath d='m 161.022,143.457 26.942,-7.12 -1.056,0.765 c -2.165,1.565 -1.943,3.738 0.495,4.83 v 0 l 0.291,0.13 -26.567,2.655 c -0.004,-0.428 -0.044,-0.848 -0.105,-1.26' id='path776' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath786'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' id='path784' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(26.107162,3.2055566,3.2055566,-26.107162,161.57715,138.93457)' spreadMethod='pad' id='linearGradient798'%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0' id='stop788' /%3E%3Cstop style='stop-opacity:1;stop-color:%23ffffff' offset='0.00537634' id='stop790' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.42847941' id='stop792' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='0.758064' id='stop794' /%3E%3Cstop style='stop-opacity:0;stop-color:%23ffffff' offset='1' id='stop796' /%3E%3C/linearGradient%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='1' height='1' id='mask800'%3E%3Cg id='g810'%3E%3Cg clip-path='url(%23clipPath786)' id='g808'%3E%3Cg id='g806'%3E%3Cg id='g804'%3E%3Cpath d='M -32768,32767 H 32767 V -32768 H -32768 Z' style='fill:url(%23linearGradient798);stroke:none' id='path802' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3ClinearGradient x1='0' y1='0' x2='1' y2='0' gradientUnits='userSpaceOnUse' gradientTransform='matrix(26.107162,3.2055566,3.2055566,-26.107162,161.57715,138.93457)' spreadMethod='pad' id='linearGradient826'%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0' id='stop816' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005a66' offset='0.00537634' id='stop818' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.42847941' id='stop820' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='0.758064' id='stop822' /%3E%3Cstop style='stop-opacity:1;stop-color:%23005d71' offset='1' id='stop824' /%3E%3C/linearGradient%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='clipPath836'%3E%3Cpath d='M 0,283.46 H 566.93 V 0 H 0 Z' id='path834' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3C/defs%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1816' inkscape:window-height='904' id='namedview4' showgrid='false' fit-margin-top='0' fit-margin-left='0' fit-margin-right='0' fit-margin-bottom='0' inkscape:zoom='1.28' inkscape:cx='207.53138' inkscape:cy='4.5478257' inkscape:window-x='0' inkscape:window-y='27' inkscape:window-maximized='0' inkscape:current-layer='g10' /%3E%3Cg id='g10' inkscape:groupmode='layer' inkscape:label='Nunet text Dark background' transform='matrix(1.3333333,0,0,-1.3333333,-147.33049,251.90491)'%3E%3Cg id='g14'%3E%3Cg id='g16' clip-path='url(%23clipPath20)'%3E%3Cg id='g22'%3E%3Cg id='g24' /%3E%3Cg id='g36'%3E%3Cg clip-path='url(%23clipPath28)' id='g34' style='opacity:0.39999402'%3E%3Cg transform='translate(152.1724,140.561)' id='g32'%3E%3Cpath d='m 0,0 c -2.332,0 -4.223,1.891 -4.223,4.223 0,2.332 1.891,4.222 4.223,4.222 2.332,0 4.225,-1.89 4.225,-4.222 C 4.225,1.891 2.332,0 0,0 m 0,13.178 c -4.945,0 -8.956,-4.01 -8.956,-8.955 0,-4.945 4.011,-8.957 8.956,-8.957 4.946,0 8.958,4.012 8.958,8.957 0,4.945 -4.012,8.955 -8.958,8.955' style='fill:%232f9bd6;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path30' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g38' transform='translate(197.5679,141.2622)'%3E%3Cpath d='m 0,0 -0.548,-5.324 c -0.141,-1.377 -1.178,-1.843 -2.301,-1.031 l -4.338,3.137 c -1.125,0.812 -1.006,1.939 0.258,2.505 l 4.885,2.192 C -0.78,2.043 0.14,1.379 0,0 M -0.755,4.889 -9.874,0.8 -36.44,3.455 c -0.004,-0.429 -0.045,-0.848 -0.106,-1.26 l 26.942,-7.118 7.299,-5.28 c 2.167,-1.564 4.161,-0.67 4.434,1.989 L 3.184,2.041 C 3.457,4.701 1.685,5.98 -0.755,4.889' style='fill:%2300a79e;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path40' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g42' transform='translate(194.6001,140.604)'%3E%3Cpath d='M 0,0 -2.3,-1.031 C -2.895,-1.298 -2.95,-1.83 -2.419,-2.21 l 2.04,-1.477 c 0.53,-0.383 1.018,-0.164 1.083,0.486 l 0.258,2.506 C 1.028,-0.045 0.596,0.266 0,0' style='fill:%2300a79e;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path44' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g46' transform='translate(122.4351,162.0513)'%3E%3Cpath d='M 0,0 3.507,-0.363 C 4.416,-0.457 4.854,0.148 4.481,0.982 L 3.042,4.201 C 2.669,5.035 1.925,5.111 1.39,4.373 L -0.679,1.516 C -1.214,0.777 -0.909,0.094 0,0' style='fill:%2300a79e;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path48' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g50' transform='translate(118.9087,163.2876)'%3E%3Cpath d='m 0,0 4.361,6.029 c 1.132,1.559 2.7,1.399 3.489,-0.363 l 3.033,-6.789 C 11.67,-2.881 10.746,-4.16 8.83,-3.963 L 1.429,-3.197 C -0.488,-2.998 -1.131,-1.559 0,0 m -2.102,-6.74 12.706,-1.318 14.744,-6.261 c 0.351,0.661 0.785,1.266 1.283,1.816 L 15.24,-0.788 10.266,10.336 C 8.75,13.729 5.727,14.037 3.547,11.031 L -4.856,-0.58 c -2.178,-3.006 -0.939,-5.781 2.754,-6.16' style='fill:%2300a79e;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path52' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g54' transform='translate(120.7183,131.6572)'%3E%3Cpath d='m 0,0 -2.937,0.375 c -0.759,0.098 -1.14,-0.4 -0.844,-1.109 l 1.141,-2.731 c 0.297,-0.707 0.919,-0.787 1.384,-0.176 l 1.793,2.354 C 1.003,-0.678 0.761,-0.1 0,0' style='fill:%2300a79e;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path56' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g58' transform='translate(123.5991,130.6162)'%3E%3Cpath d='m 0,0 -3.659,-4.799 c -0.947,-1.242 -2.217,-1.082 -2.82,0.358 l -2.329,5.572 c -0.604,1.443 0.171,2.459 1.723,2.26 L -1.097,2.627 C 0.453,2.426 0.948,1.246 0,0 M 20.125,11.217 1.571,5.225 -9.386,6.625 c -2.988,0.387 -4.484,-1.576 -3.32,-4.357 l 4.484,-10.731 c 1.166,-2.779 3.614,-3.092 5.439,-0.693 L 4.206,0.018 20.722,9.86 c -0.237,0.432 -0.432,0.888 -0.597,1.357' style='fill:%2300a79e;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path60' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g62' transform='translate(147.7407,168.772)'%3E%3Cpath d='m 0,0 c 0,1.018 -0.825,1.842 -1.841,1.842 -1.016,0 -1.841,-0.824 -1.841,-1.842 0,-1.016 0.825,-1.84 1.841,-1.84 C -0.825,-1.84 0,-1.016 0,0' style='fill:%231583b5;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path64' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g66' transform='translate(141.1323,168.7739)'%3E%3Cpath d='M 0,0 C 0,2.627 2.139,4.766 4.768,4.766 7.396,4.766 9.535,2.627 9.535,0 9.535,-2.631 7.396,-4.77 4.768,-4.77 2.139,-4.77 0,-2.631 0,0 m 7.8,-15.649 c 0.63,0.245 1.293,0.419 1.982,0.515 l -1.026,8.659 c 2.171,1.343 3.625,3.74 3.625,6.475 0,4.197 -3.415,7.611 -7.613,7.611 -4.2,0 -7.615,-3.414 -7.615,-7.611 0,-4.005 3.108,-7.29 7.039,-7.586 z' style='fill:%231583b5;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path68' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g70' transform='translate(200.3628,120.8232)'%3E%3Cpath d='m 0,0 c -1.017,0 -1.841,-0.822 -1.841,-1.84 0,-1.015 0.824,-1.84 1.841,-1.84 1.016,0 1.84,0.825 1.84,1.84 C 1.84,-0.822 1.016,0 0,0' style='fill:%231583b5;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path72' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g74' transform='translate(200.3628,114.5732)'%3E%3Cpath d='m 0,0 c -2.434,0 -4.412,1.979 -4.412,4.41 0,2.434 1.978,4.412 4.412,4.412 2.431,0 4.411,-1.978 4.411,-4.412 C 4.411,1.979 2.431,0 0,0 m 0,12.381 c -2.427,0 -4.601,-1.094 -6.063,-2.811 l -33.532,18.133 c -0.101,-0.348 -0.219,-0.689 -0.361,-1.018 L -7.965,4.529 C -7.966,4.49 -7.971,4.451 -7.971,4.41 c 0,-4.394 3.576,-7.969 7.971,-7.969 4.394,0 7.97,3.575 7.97,7.969 0,4.395 -3.576,7.971 -7.97,7.971' style='fill:%231583b5;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path76' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g78' transform='translate(152.2739,118.7705)'%3E%3Cpath d='m 0,0 c -2.199,0 -3.988,1.789 -3.988,3.99 0,2.199 1.789,3.989 3.988,3.989 2.201,0 3.991,-1.79 3.991,-3.989 C 3.991,1.789 2.201,0 0,0 m 2.443,11.123 -1.162,6.051 c -0.451,-0.07 -0.91,-0.117 -1.383,-0.117 -0.351,0 -0.697,0.025 -1.039,0.064 l -1.036,-5.908 c -3.102,-0.936 -5.37,-3.818 -5.37,-7.223 0,-4.162 3.386,-7.549 7.547,-7.549 4.163,0 7.551,3.387 7.551,7.549 0,3.307 -2.142,6.115 -5.108,7.133' style='fill:%231583b5;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path80' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g82' transform='translate(152.2739,124.5986)'%3E%3Cpath d='m 0,0 c -1.016,0 -1.839,-0.822 -1.839,-1.838 0,-1.017 0.823,-1.842 1.839,-1.842 1.018,0 1.842,0.825 1.842,1.842 C 1.842,-0.822 1.018,0 0,0' style='fill:%231583b5;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path84' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g86' transform='translate(153.6655,181.6489)'%3E%3Cpath d='M 0,0 0.274,1.301 C 0.505,2.402 1.567,3.59 2.638,3.939 L 3.901,4.355 C 4.972,4.705 6.53,4.379 7.369,3.627 L 8.359,2.738 C 9.198,1.988 9.694,0.475 9.464,-0.627 L 9.188,-1.928 C 8.96,-3.029 7.896,-4.217 6.827,-4.568 L 5.562,-4.984 C 4.493,-5.334 2.934,-5.008 2.093,-4.256 L 1.105,-3.367 C 0.266,-2.615 -0.23,-1.104 0,0 m 1.118,-6.686 -1.717,-21.269 c 0.42,-0.042 0.829,-0.121 1.231,-0.219 l 5.342,20.734 2.972,0.975 c 1.069,0.35 2.131,1.535 2.364,2.637 l 0.856,4.088 c 0.231,1.101 -0.264,2.615 -1.103,3.365 L 7.953,6.412 C 7.116,7.162 5.555,7.488 4.487,7.141 L 0.519,5.838 C -0.55,5.488 -1.613,4.301 -1.845,3.199 l -0.856,-4.086 c -0.233,-1.101 0.263,-2.617 1.101,-3.365 z' style='fill:%232f9bd6;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path88' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g90' transform='translate(193.8687,157.5552)'%3E%3Cpath d='m 0,0 c -0.25,0.207 -0.702,0.285 -1.007,0.172 l -1.13,-0.418 c -0.305,-0.111 -0.598,-0.465 -0.652,-0.785 l -0.204,-1.186 c -0.055,-0.32 0.104,-0.752 0.353,-0.959 l 0.928,-0.769 c 0.248,-0.207 0.7,-0.285 1.005,-0.172 l 1.13,0.416 c 0.305,0.113 0.598,0.467 0.652,0.785 l 0.204,1.187 c 0.055,0.321 -0.104,0.75 -0.354,0.959 z' style='fill:%232f9bd6;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path92' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g94' transform='translate(157.438,179.3306)'%3E%3Cpath d='M 0,0 C 0.25,-0.223 0.715,-0.32 1.033,-0.217 L 2.215,0.172 C 2.533,0.275 2.85,0.629 2.919,0.957 L 3.175,2.176 C 3.243,2.504 3.096,2.955 2.846,3.178 L 1.919,4.008 C 1.67,4.232 1.205,4.328 0.887,4.225 L -0.297,3.838 C -0.613,3.732 -0.931,3.379 -1,3.051 L -1.255,1.834 C -1.324,1.506 -1.178,1.055 -0.928,0.83 Z' style='fill:%232f9bd6;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path96' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g98' transform='translate(190.106,101.8545)'%3E%3Cpath d='m 0,0 -0.802,-2.076 c -0.676,-1.758 -2.75,-3.434 -4.61,-3.725 l -2.201,-0.345 c -1.86,-0.293 -4.348,0.666 -5.532,2.13 l -1.398,1.731 c -1.184,1.465 -1.598,4.099 -0.922,5.857 l 0.801,2.078 c 0.678,1.758 2.75,3.432 4.611,3.723 l 2.201,0.346 c 1.862,0.293 4.349,-0.666 5.533,-2.131 L -0.922,5.857 C 0.262,4.393 0.676,1.758 0,0 m -0.61,12.029 c -1.183,1.467 -3.671,2.424 -5.531,2.131 l -4.664,-0.732 -20.967,23.011 c -0.353,-0.335 -0.729,-0.646 -1.132,-0.921 L -17.737,9.137 -20.164,2.832 c -0.678,-1.756 -0.264,-4.391 0.92,-5.853 l 4.39,-5.436 c 1.182,-1.465 3.671,-2.424 5.532,-2.131 l 6.901,1.084 c 1.859,0.293 3.934,1.969 4.61,3.725 L 4.699,0.74 C 5.377,2.498 4.964,5.131 3.78,6.596 Z' style='fill:%232f9bd6;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path100' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g102' transform='translate(197.0796,155.4634)'%3E%3Cpath d='m 0,0 -0.194,-1.125 c -0.162,-0.953 -1.036,-2.004 -1.944,-2.34 l -1.07,-0.392 c -0.905,-0.336 -2.254,-0.104 -2.998,0.511 l -0.878,0.731 c -0.743,0.617 -1.217,1.9 -1.054,2.853 l 0.196,1.125 c 0.163,0.953 1.035,2.004 1.943,2.34 l 1.07,0.393 c 0.907,0.336 2.254,0.105 2.998,-0.514 L -1.054,2.854 C -0.309,2.234 0.165,0.953 0,0 m 2.115,4.289 -3.212,2.67 c -0.866,0.719 -2.435,0.988 -3.49,0.6 L -8.505,6.111 c -1.057,-0.39 -2.076,-1.615 -2.266,-2.722 l -0.525,-3.067 c -4.32,-1.373 -18.301,-5.938 -25.119,-8.168 0.115,-0.345 0.216,-0.699 0.289,-1.063 l 26.338,4.473 2.75,-2.285 c 0.865,-0.718 2.434,-0.988 3.49,-0.599 l 3.918,1.447 c 1.057,0.391 2.075,1.615 2.263,2.723 L 3.341,0.967 C 3.53,2.074 2.978,3.57 2.115,4.289' style='fill:%232f9bd6;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path104' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g106' transform='translate(184.3579,106.4932)'%3E%3Cpath d='M 0,0 C -0.329,0.408 -1.022,0.676 -1.54,0.594 L -3.463,0.293 C -3.98,0.211 -4.559,-0.256 -4.748,-0.744 l -0.698,-1.817 c -0.189,-0.49 -0.074,-1.222 0.256,-1.63 l 1.221,-1.514 c 0.331,-0.408 1.025,-0.676 1.542,-0.594 l 1.922,0.303 c 0.519,0.08 1.097,0.547 1.284,1.037 l 0.7,1.814 c 0.188,0.491 0.074,1.225 -0.256,1.631 z' style='fill:%232f9bd6;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path108' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g110' transform='translate(128.9497,144.6196)'%3E%3Cpath d='M 0,0 C 0.421,-0.564 1.222,-0.678 1.784,-0.256 L 2.674,0.41 C 3.237,0.834 3.353,1.633 2.93,2.197 L 2.262,3.088 C 1.841,3.65 1.041,3.764 0.477,3.342 L -0.411,2.674 C -0.977,2.252 -1.09,1.453 -0.668,0.889 Z' style='fill:%231359a4;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path112' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g114' transform='translate(127.061,148.3755)'%3E%3Cpath d='m 0,0 1.741,1.305 c 1.103,0.828 2.665,0.603 3.491,-0.5 L 6.539,-0.934 C 7.363,-2.035 7.142,-3.6 6.039,-4.426 L 4.297,-5.73 C 3.195,-6.557 1.634,-6.334 0.808,-5.232 l -1.306,1.74 C -1.325,-2.389 -1.102,-0.828 0,0 m -0.652,-7.225 c 1.37,-1.829 3.965,-2.2 5.795,-0.827 l 2.888,2.165 c 0.119,0.088 0.213,0.195 0.319,0.292 l 7.847,1.18 c -0.025,0.271 -0.042,0.546 -0.042,0.823 0,0.541 0.056,1.07 0.15,1.584 L 9.086,-0.463 C 9.012,-0.338 8.949,-0.209 8.859,-0.09 L 6.692,2.799 C 5.323,4.629 2.727,4.998 0.898,3.627 L -1.992,1.461 C -3.82,0.09 -4.192,-2.506 -2.82,-4.334 Z' style='fill:%231359a4;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path116' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g118' transform='translate(132.7544,110.1631)'%3E%3Cpath d='m 0,0 -2.984,-0.203 c -1.89,-0.129 -3.526,1.297 -3.655,3.187 l -0.204,2.985 c -0.128,1.888 1.296,3.525 3.188,3.654 l 2.984,0.203 C 1.218,9.955 2.854,8.529 2.983,6.639 L 3.188,3.654 C 3.316,1.766 1.889,0.129 0,0 M 6.159,7.846 C 6.113,8.527 5.941,9.17 5.68,9.762 l 9.356,17.052 c -0.45,0.252 -0.877,0.541 -1.274,0.866 L 0.709,13.145 C 0.506,13.152 0.301,13.15 0.093,13.137 l -4.955,-0.338 c -3.136,-0.215 -5.505,-2.93 -5.291,-6.069 l 0.339,-4.953 c 0.213,-3.136 2.93,-5.506 6.067,-5.291 l 4.954,0.338 c 3.136,0.215 5.505,2.932 5.291,6.069 z' style='fill:%231359a4;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path120' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g122' transform='translate(178.5698,162.7954)'%3E%3Cpath d='m 0,0 c 0,-2.725 -2.21,-4.934 -4.933,-4.934 h -4.301 c -2.726,0 -4.932,2.209 -4.932,4.934 v 4.301 c 0,2.724 2.206,4.931 4.932,4.931 h 4.301 C -2.21,9.232 0,7.025 0,4.301 Z m -3.993,12.326 h -6.181 c -3.913,0 -7.085,-3.172 -7.085,-7.086 v -6.179 c 0,-0.548 0.069,-1.079 0.186,-1.59 l -4.429,-7.989 c 0.861,-0.563 1.614,-1.273 2.235,-2.09 l 8.736,4.6 c 0.12,-0.006 0.237,-0.017 0.357,-0.017 h 6.181 c 3.914,0 7.085,3.171 7.085,7.086 V 5.24 c 0,3.914 -3.171,7.086 -7.085,7.086' style='fill:%231359a4;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path124' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g126' transform='translate(172.3745,167.8716)'%3E%3Cpath d='m 0,0 h -1.776 c -1.125,0 -2.037,-0.912 -2.037,-2.037 v -1.777 c 0,-1.125 0.912,-2.038 2.037,-2.038 H 0 c 1.125,0 2.037,0.913 2.037,2.038 v 1.777 C 2.037,-0.912 1.125,0 0,0' style='fill:%231359a4;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path128' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g130' transform='translate(131.5181,117.5381)'%3E%3Cpath d='m 0,0 -1.525,-0.104 c -0.967,-0.066 -1.697,-0.902 -1.63,-1.869 l 0.104,-1.525 c 0.067,-0.965 0.903,-1.695 1.868,-1.629 l 1.525,0.104 c 0.967,0.066 1.696,0.902 1.631,1.869 L 1.868,-1.629 C 1.802,-0.664 0.966,0.066 0,0' style='fill:%231359a4;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path132' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g134'%3E%3Cg id='g136' clip-path='url(%23clipPath140)'%3E%3Cg id='g142'%3E%3Cg id='g144' /%3E%3Cg id='g174' mask='url(%23mask162)'%3E%3Cg id='g176'%3E%3Cpath d='m 160.407,141.259 31.99,-22.157 c 0.029,1.923 0.74,3.679 1.902,5.041 v 0 l -33.531,18.133 c -0.102,-0.348 -0.22,-0.689 -0.361,-1.017' style='fill:url(%23linearGradient188);stroke:none' id='path190' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g192'%3E%3Cg id='g194' clip-path='url(%23clipPath198)'%3E%3Cg id='g200'%3E%3Cg id='g202' /%3E%3Cg id='g232' mask='url(%23mask220)'%3E%3Cg id='g234'%3E%3Cpath d='m 157.202,137.372 15.167,-26.38 0.083,0.216 c 0.676,1.754 2.752,3.431 4.611,3.723 v 0 l 2.239,0.351 -20.969,23.012 c -0.352,-0.336 -0.728,-0.646 -1.131,-0.922' style='fill:url(%23linearGradient246);stroke:none' id='path248' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g250'%3E%3Cg id='g252' clip-path='url(%23clipPath256)'%3E%3Cg id='g258'%3E%3Cg id='g260' /%3E%3Cg id='g290' mask='url(%23mask278)'%3E%3Cg id='g292'%3E%3Cpath d='m 152.172,135.827 c -0.351,0 -0.697,0.025 -1.039,0.065 v 0 l -1.035,-5.909 c 0.69,0.209 1.42,0.324 2.176,0.324 v 0 c 0.856,0 1.676,-0.15 2.444,-0.414 v 0 l -1.163,6.051 c -0.451,-0.07 -0.91,-0.117 -1.383,-0.117' style='fill:url(%23linearGradient304);stroke:none' id='path306' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g308'%3E%3Cg id='g310' clip-path='url(%23clipPath314)'%3E%3Cg id='g316'%3E%3Cg id='g318' /%3E%3Cg id='g348' mask='url(%23mask336)'%3E%3Cg id='g350'%3E%3Cpath d='m 133.464,123.307 c 2.199,-0.085 4.109,-1.437 4.97,-3.382 v 0 l 9.357,17.052 c -0.451,0.252 -0.878,0.541 -1.275,0.866 v 0 z' style='fill:url(%23linearGradient362);stroke:none' id='path364' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g366'%3E%3Cg id='g368' clip-path='url(%23clipPath372)'%3E%3Cg id='g374'%3E%3Cg id='g376' /%3E%3Cg id='g406' mask='url(%23mask394)'%3E%3Cg id='g408'%3E%3Cpath d='m 123.152,135.188 c 0.762,-0.896 1.698,-4.999 1.85,-6.226 v 0 l 19.318,11.515 c -0.235,0.431 -0.431,0.886 -0.596,1.357 v 0 z' style='fill:url(%23linearGradient420);stroke:none' id='path422' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g424'%3E%3Cg id='g426' clip-path='url(%23clipPath430)'%3E%3Cg id='g432'%3E%3Cg id='g434' /%3E%3Cg id='g464' mask='url(%23mask452)'%3E%3Cg id='g466'%3E%3Cpath d='m 135.41,142.781 7.848,1.179 c -0.025,0.272 -0.042,0.547 -0.042,0.824 v 0 c 0,0.541 0.056,1.069 0.149,1.584 v 0 l -7.219,1.544 c 0.999,-1.672 0.694,-3.806 -0.736,-5.131' style='fill:url(%23linearGradient478);stroke:none' id='path480' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g482'%3E%3Cg id='g484' clip-path='url(%23clipPath488)'%3E%3Cg id='g490'%3E%3Cg id='g492' /%3E%3Cg id='g522' mask='url(%23mask510)'%3E%3Cg id='g524'%3E%3Cpath d='m 135.024,160.541 c 1.516,-3.388 -0.263,-5.851 -3.959,-5.472 v 0 l -1.553,0.161 14.745,-6.262 c 0.35,0.662 0.784,1.267 1.283,1.817 v 0 l -11.391,11.714 z' style='fill:url(%23linearGradient536);stroke:none' id='path538' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g540'%3E%3Cg id='g542' clip-path='url(%23clipPath546)'%3E%3Cg id='g548'%3E%3Cg id='g550' /%3E%3Cg id='g580' mask='url(%23mask568)'%3E%3Cg id='g582'%3E%3Cpath d='m 145.9,161.158 c -0.195,0 -0.385,0.015 -0.575,0.03 v 0 l 3.607,-8.064 c 0.63,0.246 1.293,0.42 1.983,0.516 v 0 l -1.027,8.66 c -1.161,-0.719 -2.526,-1.142 -3.988,-1.142' style='fill:url(%23linearGradient594);stroke:none' id='path596' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g598'%3E%3Cg id='g600' clip-path='url(%23clipPath604)'%3E%3Cg id='g606'%3E%3Cg id='g608' /%3E%3Cg id='g638' mask='url(%23mask626)'%3E%3Cg id='g640'%3E%3Cpath d='m 153.067,153.694 c 0.42,-0.042 0.828,-0.122 1.231,-0.219 v 0 l 5.339,20.733 -0.994,-0.327 c -1.068,-0.349 -2.629,-0.021 -3.465,0.729 v 0 l -0.393,0.353 z' style='fill:url(%23linearGradient652);stroke:none' id='path654' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g656'%3E%3Cg id='g658' clip-path='url(%23clipPath662)'%3E%3Cg id='g664'%3E%3Cg id='g666' /%3E%3Cg id='g696' mask='url(%23mask684)'%3E%3Cg id='g698'%3E%3Cpath d='m 157.068,152.278 c 0.861,-0.563 1.614,-1.273 2.236,-2.091 v 0 l 8.735,4.6 c -3.206,0.162 -5.847,2.445 -6.542,5.479 v 0 z' style='fill:url(%23linearGradient710);stroke:none' id='path712' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g714'%3E%3Cg id='g716' clip-path='url(%23clipPath720)'%3E%3Cg id='g722'%3E%3Cg id='g724' /%3E%3Cg id='g754' mask='url(%23mask742)'%3E%3Cg id='g756'%3E%3Cpath d='m 160.664,147.618 c 0.116,-0.346 0.216,-0.699 0.289,-1.064 v 0 l 26.339,4.474 -0.463,0.384 c -0.864,0.72 -1.416,2.215 -1.225,3.323 v 0 l 0.18,1.05 c -4.321,-1.374 -18.301,-5.938 -25.12,-8.167' style='fill:url(%23linearGradient768);stroke:none' id='path770' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g772'%3E%3Cg id='g774' clip-path='url(%23clipPath778)'%3E%3Cg id='g780'%3E%3Cg id='g782' /%3E%3Cg id='g812' mask='url(%23mask800)'%3E%3Cg id='g814'%3E%3Cpath d='m 161.022,143.457 26.942,-7.12 -1.056,0.765 c -2.165,1.565 -1.943,3.738 0.495,4.83 v 0 l 0.291,0.13 -26.567,2.655 c -0.004,-0.428 -0.044,-0.848 -0.105,-1.26' style='fill:url(%23linearGradient826);stroke:none' id='path828' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g830'%3E%3Cg id='g832' clip-path='url(%23clipPath836)'%3E%3Cg id='g838' transform='translate(224.2642,123.9932)'%3E%3Cpath d='m 0,0 h -2.151 v 32.688 h 2.389 c 7.313,0 9.463,-2.771 19.308,-15.866 C 28.913,4.443 30.538,2.102 36.368,2.102 h 0.717 v 30.586 h 2.15 V 0 H 36.894 C 29.726,0 27.575,2.723 17.825,15.531 8.028,28.435 6.499,30.538 0.717,30.538 H 0 Z' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path840' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g842' transform='translate(273.1094,156.6812)'%3E%3Cpath d='m 0,0 h 2.102 v -17.395 c 0,-10.133 4.158,-13.621 17.3,-13.621 13.286,0 17.397,3.488 17.397,13.621 V 0 h 2.15 v -17.395 c 0,-11.422 -5.017,-15.723 -19.547,-15.723 C 5.447,-33.118 0,-29.153 0,-17.395 Z' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path844' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g846' transform='translate(327.5937,123.9932)'%3E%3Cpath d='m 0,0 h -6.834 v 32.688 h 4.826 c 8.793,0 11.184,-2.819 19.451,-14.241 C 25.232,7.693 25.807,6.93 29.342,6.93 h 0.049 v 25.758 h 6.834 V 0 H 31.398 C 23.32,0 20.883,2.58 11.947,14.289 3.584,25.233 3.344,25.758 0.047,25.758 H 0 Z' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path848' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g850' transform='translate(386.2363,150.1821)'%3E%3Cpath d='m 0,0 c -6.404,0 -8.316,-2.438 -8.793,-6.786 h 34.121 v -6.118 H -8.793 c 0.477,-4.349 2.389,-6.738 8.793,-6.738 h 25.902 v -6.547 H 0 c -11.709,0 -15.771,5.592 -15.771,16.344 0,10.753 4.062,16.344 15.771,16.344 H 25.902 V 0 Z' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path852' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='g854' transform='translate(432.4043,123.9932)'%3E%3Cpath d='m 0,0 v 26.523 h -16.248 v 6.165 h 39.33 V 26.523 H 6.834 V 0 Z' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path856' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      .preloader__text {
        margin-top: 16px;
        font-weight: 500;
        font-size: 14px;
        font-family: Sans-serif;
        opacity: 0;
        animation-name: preloader-fade-in;
        animation-duration: 0.9s;
        animation-delay: 1.8s;
        animation-fill-mode: forwards;
      }

      .theme-light .preloader__text {
        color: #52545c;
      }

      .theme-dark .preloader__text {
        color: #d8d9da;
      }

      @keyframes preloader-fade-in {
        0% {
          opacity: 0;
          /*animation-timing-function: linear;*/
          animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes preloader-bounce {
        from,
        to {
          transform: translateY(0px);
          animation-timing-function: cubic-bezier(0.3, 0, 0.1, 1);
        }
        50% {
          transform: translateY(-50px);
          animation-timing-function: cubic-bezier(0.9, 0, 0.7, 1);
        }
      }

      @keyframes preloader-squash {
        0% {
          transform: scaleX(1.3) scaleY(0.8);
          animation-timing-function: cubic-bezier(0.3, 0, 0.1, 1);
          transform-origin: bottom center;
        }
        15% {
          transform: scaleX(0.75) scaleY(1.25);
          animation-timing-function: cubic-bezier(0, 0, 0.7, 0.75);
          transform-origin: bottom center;
        }
        55% {
          transform: scaleX(1.05) scaleY(0.95);
          animation-timing-function: cubic-bezier(0.9, 0, 1, 1);
          transform-origin: top center;
        }
        95% {
          transform: scaleX(0.75) scaleY(1.25);
          animation-timing-function: cubic-bezier(0, 0, 0, 1);
          transform-origin: bottom center;
        }
        100% {
          transform: scaleX(1.3) scaleY(0.8);
          transform-origin: bottom center;
          animation-timing-function: cubic-bezier(0, 0, 0.7, 1);
        }
      }

      /* Fail info */
      .preloader__text--fail {
        display: none;
      }

      /* stop logo animation */
      .preloader--done .preloader__bounce,
      .preloader--done .preloader__logo {
        animation-name: none;
        display: none;
      }

      .preloader--done .preloader__logo,
      .preloader--done .preloader__text {
        display: none;
        color: #ff5705 !important;
        font-size: 15px;
      }

      .preloader--done .preloader__text--fail {
        display: block;
      }

      [ng\:cloak],
      [ng-cloak],
      .ng-cloak {
        display: none !important;
      }
    </style>

    <div class="preloader">
      <div class="preloader__enter">
        <div class="preloader__bounce">
          <div class="preloader__logo"></div>
        </div>
      </div>
      <div class="preloader__text">Loading Nunet stats</div>
      <div class="preloader__text preloader__text--fail">
        <p>
          <strong>If you're seeing this Nunet stat has failed to load its application files</strong>
          <br />
          <br />
        </p>
        <p>
          1. This could be caused by your reverse proxy settings.<br /><br />
          2. If you host Nunet stat under subpath make sure your grafana.ini root_url setting includes subpath<br />
          <br />
          3. If you have a local dev build make sure you build frontend using: yarn start, yarn start:hot, or yarn
          build<br />
          <br />
          4. Sometimes restarting Nunet stat-server can help<br />
        </p>
      </div>
    </div>

    <grafana-app class="grafana-app" ng-cloak>
      <sidemenu class="sidemenu"></sidemenu>
      <app-notifications-list class="page-alert-list"></app-notifications-list>
      <dashboard-search></dashboard-search>

      <div class="main-view">
        <div class="scroll-canvas">
          <div ng-view></div>

          <footer class="footer">
            <div class="text-center">
              <ul>
                <li>
                  <a href="http://docs.grafana.org" target="_blank">
                    <i class="fa fa-file-code-o"></i>
                    Docs
                  </a>
                </li>
                <li>
                  <a href="https://grafana.com/services/support" target="_blank">
                    <i class="fa fa-support"></i>
                    Support Plans
                  </a>
                </li>
                <li>
                  <a href="https://community.grafana.com/" target="_blank">
                    <i class="fa fa-comments-o"></i>
                    Community
                  </a>
                </li>
                <li>
                  <a href="https://grafana.com" target="_blank">[[.AppName]]</a>
                  <span>v[[.BuildVersion]] (commit: [[.BuildCommit]])</span>
                </li>
                [[if .NewGrafanaVersionExists]]
                <li>
                  <a href="https://grafana.com/get" target="_blank" bs-tooltip="'[[.NewGrafanaVersion]]'">
                    New version available!
                  </a>
                </li>
                [[end]]
              </ul>
            </div>
          </footer>
        </div>
      </div>
    </grafana-app>

    <script>
        window.grafanaBootData = {
          user: [[.User]],
          settings: [[.Settings]],
          navTree: [[.NavTree]]
        };

      // In case the js files fails to load the code below will show an info message.
        window.onload = function() {
          var preloader = document.getElementsByClassName("preloader");
          if (preloader.length) {
            preloader[0].className = "preloader preloader--done";
          }
        };
    </script>

    [[if .GoogleTagManagerId]]
    <!-- Google Tag Manager -->
    <script>
      dataLayer = [
        {
          IsSignedIn: '[[.User.IsSignedIn]]',
          Email: '[[.User.Email]]',
          Name: '[[.User.Name]]',
          UserId: '[[.User.Id]]',
          OrgId: '[[.User.OrgId]]',
          OrgName: '[[.User.OrgName]]',
        },
      ];
    </script>
    <noscript>
      <iframe
        src="//www.googletagmanager.com/ns.html?id=[[.GoogleTagManagerId]]"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe>
    </noscript>
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '[[.GoogleTagManagerId]]');
    </script>
    <!-- End Google Tag Manager -->
    [[end]]

    <%
    for (key in htmlWebpackPlugin.files.chunks) { %><%
      if (htmlWebpackPlugin.files.jsIntegrity) { %>
    <script
      src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
      type="text/javascript"
      integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
      crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script><%
      } else { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script><%
      } %><%
    } %>
    <script>
      performance.mark('js done blocking');
    </script>
  </body>
</html>
